.app {
  background-image: url(./Rainbow-Background.webp);
  height: 100vh;
  padding: 30px;

}

.todo-list {
  background: #fff;
  border-radius: 4px;
  width: 500px;
  padding: 5px;
}

.todo {
  align-items: center;
  background:#e9bce3ee;
  border-radius: 3px;
  width: 500px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.input {
  background: #dfc6dc;
  height: 2rem;
}